

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.secondery-bg{
  background-color: #bcbbdc;
}
.header{
  background-image: url('../Assets/Hero-bg.png');
  padding-bottom: 200px;
  max-width: 1680px;
}

.text-primary{
  color: #4E47FF;
}

.btn-primary{
  background-color: #4E47FF;
  color: white;
  border: none;
  border-radius: 5px;
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
.nav-title{
  font-size: 34px;
  width: 99px;
  height: 51px;
  background-color: none;
  text-align: center;
}
.sign-btn{
  width: 132px;
  height: 48px;
}
.banner-title{
  font-weight: bold;
  font-size: 65px;
}
.btn-focused{
  width: 174px;
  height: 48px;
  gap: 37;
}
.banner{
  width: 905px;
  margin: 309px 267px 152px;
  text-align: center;
  padding-bottom: 158px;
}
.banner-content{
  margin: 0;
}
.action-content{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.action-title{
  font-weight: bold;
  font-size: 42px;
}
.action-description{
  font-size: 24px;
}
.action{
  width: 1140px;
  margin: 116px 159px 141px;
}
.content{
  margin: 62.5px 220px 62.5px 0;
}
.launch-btn{
  width: 229px;
  height: 48px;
  gap: 10px;
  text-align: center;
  padding: 12px 36px;
}
.action-pic{
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
.section2{
  max-width: 1140px;
  margin: 150px 159px 138px 159px;
  border-radius: 0%;
  text-align: center;
  border-radius: 24px;
  padding: 50px 142px;
}
.productive-users{
  justify-content: space-between;
  text-align: center;
  display: flex;
  width: 856px;
  height: 206px;
  gap: 40px;

}
.users-title{
  font-weight: bold;
  font-size: 38px;
}
.users-section{
  gap: 40px;
}
.users{
  font-weight: bold;
  font-size: 80px;
}
.sessions{
  font-weight: bold;
  font-size: 80px;
}
.rate{
  font-weight: bold;
  font-size: 80px;
}
.details1{
  gap: none;
}
.description{
  font-size: 20px;
  
}
.touch{
  padding: 71px 0px;
  display: flex;
  gap: 300px;
}
.touch-content{
  width: 50%;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 24px;
}
.touch-title{
  font-weight: bold;
  font-size: 97px;
}
.email{
  height: 70px;
  border-radius: 10px;
  display: block;
  width: 499px;
}
.name{
  height: 60px;
  border-radius: 10px;
  display: block;
  width: 499px;
}
.text-messege{
  width: 499px;
  height: 150px;
  display: block;
}
.touch-btn{
  width: 499px;
  height: 62px;
  border-radius: 10px;
  display: block;
}
